<div class="center hero-unit">
	<h1>Welcome to Coconuts</h1>

	<h2>My "minimally viable" Ruby on Rails micro-post application</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>