<% provide(:title, 'About Us') %>

 
    <h1>About</h1>
    <p>
      This is my first true application. Although what you are reading is rendered html, the app is written in ruby and uses the Ruby on Rails application framework. It is not only the culmination of many hours of learning and writing ruby, but many more hours of learning MVC, git, rvm, TDD and many more unrecognizable acronyms. There are obviouse ommissions and an incompleteness in the site. The point of this project was to make a true "working" prototype app.
    </p>
  