<footer class="footer">
  <small>
	Built by 
    <a href="http://www.icodeforu.com/">Greg Wallace</a> :: Powered by 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> :: Hosted on <a href="http://www.heroku.com/">Heroku</a>
    

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>